html,
body{
  height: 100%;
}

#bookSwapApp{
  min-height: 100%;
}

.footer {
  width: 100%;
  padding: .5%;
  background-color: black;
  color: white;
}

.footer a{
  color: white;
}

.book-container{
  margin-top: 3%;
}

.books-jumbo{
  padding: 3%;
  margin: 0 auto;
  min-height: 500px;
}

.add-book-title{
  margin: 3% 0%;
}

.books-table{
  background-color: white;
  margin-top: 3%;
}

.books-table caption{
  text-align: center;
  font-size: 2em;
}

.app-highlights{
  color: black;
  text-align: center;
  padding: 3%;
}

.app-jumbotron{
  background-color: black;
}

.app-header{
  padding: 5%;
  text-align: center;
  color: white;
}

.navbar{
  margin-bottom: 0;
}

#editContactInfo{
  float: right;
}

.contact-info-data{
  margin-top: 3%;
}

#acceptDecline{
  display: inline-flex;
}